<!--- Spinner section -->
<section class="main-container">
  <section class="left-side">
    <div class="wheel-container">
      <i class="fa-solid fa-arrow-right arrow"></i>
      <div #wheelContainer class="container">
        @for (segment of segments(); track segment.id; let i = $index) {
        <div
          class="segment"
          [class.single-segment]="segmentCount() === 1"
          [style]="getSegmentStyle(segment, i)"
        >
          {{segment.label}}
        </div>
        }
      </div>
    </div>

    <div class="button-container">
      <app-button
        label="Random Spin"
        (click)="spinWheel()"
        [disabled]="!segments() || segments().length < 2"
      ></app-button>
      <app-button
        label="Pre-Determined Spin"
        (click)="spinWheelTo(5)"
      ></app-button>
    </div>
  </section>

  <!--- Segment section -->
  <section class="right-side">
    <section class="input-container">
      <div class="input-group">
        <input
          type="text"
          placeholder="Enter segment label"
          class="segment-input"
          [(ngModel)]="newSegmentLabel"
        />
        <app-button
          class="add-segment-btn"
          label="Add"
          (btnClick)="segments().length === 1 && segments()[0].label === '' ? updateFirstSegment() : addSegment()"
          [disabled]="!newSegmentLabel()"
        ></app-button>
      </div>
    </section>

    @if (segments().length > 1) {
    <section class="segments-list">
      <h3>Current Segments ({{ segmentCount() }}):</h3>
      <div class="segment-items">
        @for (segment of segments(); track segment.id) {
        <div class="segment-item">
          <div
            class="colour-indicator"
            [style.background-color]="segment.colour"
          ></div>
          <span class="segment-label">{{ segment.label }}</span>
        </div>
        }
      </div>
    </section>
    }

    <ng-template #results>
      <div class="results-container">
        <p>You have spun a:</p>
        <h3>{{selectedSegment()}}</h3>
      </div>
      <div class="button-container">
        <app-button
          label="Spin Again"
          (btnClick)="navigateToLandingPage()"
        ></app-button>
      </div>
    </ng-template>
  </section>
</section>
