.segment-item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: var(--white);
  padding: 8px 12px;
  border-radius: 20px;
  border: 1px solid rgb(221, 221, 221);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.segment-item.removing {
  opacity: 0;
  transform: scale(0.8);
}

.colour-indicator {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid #ccc;
}

.segment-label {
  font-weight: 500;
  color: #333;
  margin-left: 4px;
}

.remove-btn {
  background: transparent;
  color: black;
  border: none;
  width: 20px;
  height: 20px;
  cursor: pointer;
  padding-left: 10px;
  display: flex;
  font-size: 12px;
  font-weight: bold;
}

.remove-btn:hover {
  background: transparent;
}
