<section class="main-container">
  <!-- Left-side spinner section -->
  <section class="left-side">
    <div class="wheel-container">
      <i class="fa-solid fa-arrow-down arrow"></i>
      <canvas #wheel width="500" height="500" class="wheel"> </canvas>
    </div>

    <div class="button-container">
      <app-button
        label="Random Spin"
        (btnClick)="testSpin()"
        [disabled]="segmentCount() === 0 || (segmentCount() === 1 && segments()[0].label === '')"
      ></app-button>
    </div>

    <div>
      <p>Selected: {{selectedSegment()}}</p>
    </div>
  </section>

  <!-- Right side segment inputs -->
  <section class="right-side">
    <section class="input-container">
      <div class="input-group">
        <input
          type="text"
          placeholder="Enter segment"
          class="segment-input"
          [(ngModel)]="newSegmentLabel"
        />
        <app-button
          class="add-segment-btn"
          label="Add"
          (btnClick)="segments().length === 1 && segments()[0].label === '' ? updateFirstSegment() : addSegment()"
          [disabled]="!newSegmentLabel().trim()"
        ></app-button>
      </div>
    </section>

    @if (segments().length > 1 || (segments().length === 1 &&
    segments()[0].label !== '')) {
    <section class="segments-list">
      <h3>Current Segments ({{ segmentCount() }}):</h3>
      <div class="segment-items">
        @for (segment of segments(); track segment.id) { @if (segment.label !==
        '') {
        <app-pill
          [label]="segment.label"
          [colour]="segment.colour"
          (remove)="removeSegment(segment.id)"
        ></app-pill>
        } }
      </div>
    </section>
    }
  </section>
</section>
