.main-container {
  display: flex;
  gap: 40px;
  align-items: flex-start;
  flex-wrap: wrap;
}

.left-side {
  flex: 1 1 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wheel-container {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.wheel {
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border: 4px solid #ddd;
}
