.toggle {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: inherit;

  button {
    background-color: transparent;
    color: inherit;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: x-large;

    i {
      transition: opacity 0.3s ease, transform 0.3s ease;
      display: inline-block;
    }

    &:hover {
      opacity: 0.8;
    }

    &.fade-out i {
      opacity: 0;
      transform: scale(0.5) rotate(90deg);
    }

    &.fade-in i {
      opacity: 1;
      transform: scale(1) rotate(0deg);
    }
  }
}
